################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SchedulingCenter/DesignTimeBuild
/.vs/SchedulingCenter/v16
/SchedulingCenter/bin/Debug/net5.0
/SchedulingCenter/obj
/SchedulingCenter/Properties
/SchedulingCenter/appsettings.Development.json
